<div class="home">
    <section>
        <div>
            <h2>Recipients Lists</h2>
        </div>
        <div>
            <h2>Search Recipients</h2>
            <input type="text" placeholder="search company/email">
        </div>
    </section>
    <section>
        <div>
            <h2>Selected Recipients</h2>
            <div>
                <h3>Companies</h3>
                <div>Company X</div>
            </div>
            <div>
                <h3>Emails</h3>
                <div>@enmacc.de X</div>
            </div>
        </div>
    </section>
</div>