$tablet-breakpoint: 768px;
$laptop-breakpoint: 1184px;
.home {
  display: flex;
  padding: 52px 0;
  @media (max-width: $tablet-breakpoint) {
    flex-direction: column;
  }
  &__section-a {
    width: 30%;
    padding-right: 32px;
    border-right: 1px solid lightgray;
    @media (max-width: $laptop-breakpoint) {
      width: 50%;
    }
    @media (max-width: $tablet-breakpoint) {
      border-right: none;
      width: 100%;
      padding-bottom: 32px;
      margin-bottom: 32px;
      border-bottom: 1px solid lightgray
    }
  }
  &__section-b {
    width: 40%;
    padding-left: 32px;
    @media (max-width: $laptop-breakpoint) {
      width: 50%;
    }
    @media (max-width: $tablet-breakpoint) {
      width: 100%;
      padding-left: 0;
    }
  }
  & section {
    padding-top: 12px;
  }
  &__check-group {
    display: flex;
    flex-direction: column;
  }
  & div[role="listitem"] {
    margin-bottom: 8px;
  }
  & div[role="listitem"].flat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__email-recipient {
    margin-top: 42px;
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
    }
    &__title {
      display: flex;
      align-items: center;
      &__icon {
        margin-left: 8px;
        cursor: pointer;
      }
    }
    &__bottom {
      padding-left: 8px;
    }
  }
}
